* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.title{
	text-align: center;
}
.box {
	text-align: center;
}
.box1 {
	background: gray; 
	height: 150px;
	border: 3px solid black;
	display: flex;
	align-items: center;
}
.childbox1 {
	background: red;
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: 150px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px
}
.childbox1 h3 {
	text-align: center;
	line-height: 120px;
}
.box2 {
	background: gray;
	width: 100%;
	height: 150px;
	padding: 10px;
	border: 3px solid black;
	display: flex;
	align-items: center;
}
.childbox2 {
	background: yellow;
	width: 120px;
	height: 120px;
	margin-left: 150px;
	margin-right: auto;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 5px;
}
.box3 {
	background: gray;
	width: 100%;
	height: 150px;
	padding: 10px;
	border: 3px solid black;
	display: flex;
	align-items: center;
}
.childbox3 {
	background: blue;
	width: 120px;
	height: 120px;
    margin: auto;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.box4 {
	background: gray;
	width: 100%;
	height: 150px;
	padding: 10px;
	border: 3px solid black;
	display: flex;
	align-items: center;
}

.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange {
  background-color: orange; 
  height: 120px;
  width: 120px;
  margin: 0 20px;
  border: 3px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box5 {
	background: gray;
	width: 100%;
	height: 400px;
	padding: 10px;
	display: flex;
	border: 3px solid black;
	justify-content: center;
	align-items: center;	
}
.childbox5 {
	background: red;
	width: 120px;
	height: 120px;
	margin-top: -140px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.childbox6 {
	background: blue;
	width: 120px;
	height: 120px;
	margin-top: 100px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.childbox7 {
	background: orange;
	width: 120px;
	height: 120px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: -140px;
}
.childbox8 {
	background: indigo;
	width: 120px;
	height: 120px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: 100px;
}
.childbox9 {
	background: yellow;
	width: 120px;
	height: 120px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: -140px;
}
.childbox10 {
	background: violet;
	width: 120px;
	height: 120px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: 100px;
}
.childbox11 {
	background: green;
	width: 120px;
	height: 120px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: -140px;
}
